img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

main {
  margin: auto;
  width: 90%;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}

/*FORM STYLES
=======================================*/
/*TODO: DONE Add the CSS needed to style the form*/
form input, textarea {
  width: 100%;
  margin: 20px 0;
  border: none;
  font-size: 1.5em;
}

form input {
  border-bottom: 2px solid green;
}

form textarea {
  border: 2px solid green;
  font-size: 1em;
}

#publishedOn {
  width: auto;
  clear: left;
}
